<div *ngIf="dataLoadded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
    <label for="filterText" class="form-label">Talep ara</label>
    <input type="text" class="form-control" [(ngModel)]="filterText" id="filterText"
        placeholder="arama ifadesi giriniz...">
</div>
<!-- 
<div *ngIf="filterText" class="alert alert-primary">
    {{filterText}} aradınız
</div> -->
<!-- <table *ngIf="dataLoadded!=false" class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>kategori</th>
            <th>cüzdan</th>
            <th>talep sebebi</th>
            <th>toplanan yardım</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests |filterPipe:filterText">
            <td>{{request.requestId}}</td>
            <td>{{request.categoryId}}</td>
            <td>{{request.wallet}}</td>
            <td>{{request.reasonRequest|uppercase}}</td>
            <td>{{request.collectedAid |currency}}</td>
            <td><button  class="btn btn-success"> seç </button></td>

        </tr>
    </tbody>
</table> -->
<!-- 
<div class="card" style="width: 18rem;">
   <tr class="list-group list-group-flush"  *ngFor="let request of requests |filterPipe:filterText">
    <div class="card-body">
        <td>{{request.reasonRequest|uppercase}}</td>
        <td>{{request.wallet}}</td>
        <td>{{request.collectedAid |currency}}</td>
            
      
    </div>
    <td><button  class="btn btn-success"> gönder </button></td>
        
</tr> -->
    
 
  <!-- <div class="row g-0">
  <div class="" *ngFor="let request of requests |filterPipe:filterText" > 
  <div *ngIf="dataLoadded!=false" >
    
      <div class="col-md-6">
    <div class="card trainer-card" >
      <div class="card-body" >
        <h5 class="card-title" ><i class="fa-solid fa-user card-icon"></i>&nbsp; {{request.reasonRequest|uppercase}}</h5>
        <p class="card-text"><i class="fa-solid fa-envelope card-icon"></i> &nbsp; {{request.wallet}}</p>
        <p class="card-text" ><i class="fa-solid fa-building-columns card-icon" ></i>&nbsp; {{request.collectedAid |currency}}</p> 
        <button  class="btn btn-success"> gönder </button>
       
      </div>
    </div>
  </div>
  </div>
</div>
</div> -->
<body class="container ">
  
<!-- <div *ngFor="let request of requests | filterPipe:filterText" class="card  mb-3 mx-4 trainer-card" style="display: inline-block; ">
    <div class="row  g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{request.reasonRequest}}</h5>
          <p class="card-text">{{request.wallet}}</p>
          <p class="card-text"> {{request.collectedAid }}</p>
          <button  class="btn btn-success"> gönder </button>
        </div>
      </div>
    </div>
  </div> -->

<div  *ngFor="let request of requests | filterPipe:filterText" class="card  mb-3 mx-4 trainer-card" style="display: inline-block; ">
    <div class="row  g-0">
      
        <div class="col-md-6">
<div class="card" style="width: 18rem;">
  
  <img src="{{request.images ? 'data:image/jpg;base64,' + request.images[0]: ''}}" class="img-fluid tra-img " alt="...">
  
  <div class="card-body">
        <h5 class="card-title">{{request.reasonRequest}}</h5>
        <p class="card-text">{{request.wallet}}</p>
        
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" placeholder="Yardım tutarı giriniz" aria-label="Amount (to the nearest dollar)">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Mesajınız" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
      <a href="#" class="btn btn-primary">gönder</a>
    
  </div>
</div>
</div>
</div>
</div>
